# --- Joystick (Xbox 360 wireless adapter) ---

SUBSYSTEM=="input", KERNEL=="js*", ATTRS{idVendor}=="045e", ATTRS{idProduct}=="0719", SYMLINK+="joy", MODE:="0666"
SUBSYSTEM=="input", KERNEL=="event*", ATTRS{idVendor}=="045e", ATTRS{idProduct}=="0719", SYMLINK+="event_joy", MODE:="0666"

# --- Pioneer robot (USB serial) ---
KERNEL=="ttyUSB*", ATTRS{idVendor}=="067b", ATTRS{idProduct}=="2303", SYMLINK+="pioneer", MODE:="0666"

# --- RPLIDAR (USB serial) ---
KERNEL=="ttyUSB*", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", SYMLINK+="rplidar", MODE:="0666"

# --- Head arduino (USB serial) ---
KERNEL=="ttyUSB*", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="7523", SYMLINK+="head_ino", MODE:="0666"

# --- dynamixel adapter (USB serial) ---
KERNEL=="ttyUSB*", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", SYMLINK+="dynamixel", MODE:="0666", ATTR{latency_timer}="1"

# --- odrive config ---
SUBSYSTEM=="usb", ATTR{idVendor}=="1209", ATTR{idProduct}=="0d3[0-9]", MODE="0666", ENV{ID_MM_DEVICE_IGNORE}="1"
SUBSYSTEM=="usb", ATTR{idVendor}=="0483", ATTR{idProduct}=="df11", MODE="0666"

# --- Encoders ---
KERNEL=="ttyACM*", ATTRS{idVendor}=="2e8a", ATTRS{idProduct}=="000a", SYMLINK+="encoders", MODE:="0666"

# --- Intel RealSense Cameras ---
SUBSYSTEMS=="usb", ATTRS{idVendor}=="8086", ATTRS{idProduct}=="0b3a", MODE:="0666"
KERNEL=="video*", ATTRS{idVendor}=="8086", MODE:="0666"
SUBSYSTEM=="iio", ATTRS{idVendor}=="8086", MODE:="0666"
